@{
    Layout = null;
}
@model IEnumerable<Clothes_UI.Models.Quality_test_index_selecte_Result>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <style>
        .ss {
            width: 100%;
            height: 80px;
            box-shadow: 0px 0px 3px 3px lightgray;
        }

        .div1 {
            margin-top: 10px;
            width: 100%;
            height: 300px;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .div2 {
            margin-top: 50px;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .top {
            margin-left: 50px;
        }

        .btn1 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
        }

        .btn2 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 0px;
            color: white;
            background-color: lightseagreen;
            border: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="ss">
            <div style="margin-left:50px;">
                <br />
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">质检管理</li>
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">待检产品</li>
                    </ol>
                </nav>
            </div>
        </div>
        <br />
        <br />
        <form action="/Quality_test/Indexadd" method="post" enctype="multipart/form-data">
            <div class="div1">
                <br />
                <div class="top">
                    <span style="font-size:20px;color:dimgray; margin-left:20px;">产品质检单</span>
                    <hr />
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">生产编号：</th>
                                <th scope="col">操作员:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" v-model="pro" style="width: 500px; height: 30px;" placeholder="请输入生产编号" name="pro_production_id"/></td>
                                <td><input type="text" style="width: 500px; height: 30px;" placeholder="请输入操作员姓名" name="operator_per"/></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="width:100%;display:flex;">
                        <div style="width:970px;">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">质检时间：</th>
                                        <th scope="col">质检结果:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="date" style="width: 500px; height: 30px;" name="quality_testing_time" /></td>
                                        <td><input type="text" style="width: 500px; height: 30px;" placeholder="请输入质检结果" name="result" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <span><input type="submit" value="提交" class="btn1" style="margin-left:200px;margin-top:30px;" /></span>
                    </div>
                </div>
            </div>
        </form>
            <div class="div2">
                <br />
                <div class="top">
                    <span style="font-size:20px;color:dimgray; margin-left:20px;">待检产品信息</span>
                    <hr />
                    <span style="display:flex;">
                        <input type="text" class="text" placeholder="请输入产品名称" />
                        <input type="button" value="搜索" class="btn2" />
                    </span>
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="width:80px;"><input type="checkbox" />全选</th>
                                <th scope="col">生产编号</th>
                                <th scope="col">计划编号</th>
                                <th scope="col">产品名称</th>
                                <th scope="col">产品类型</th>
                                <th scope="col">生产数量</th>
                                <th scope="col">生产日期</th>
                                <th scope="col">操作员</th>
                                <th scope="col">状态</th>
                                <th scope="col">操作</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td>@item.pro_production_id</td>
                                    <td>@item.product_plan_id</td>
                                    <td>@item.product_name</td>
                                    <td>@item.product_type</td>
                                    <td>@item.product_details_num</td>
                                    <td>@item.product_time</td>
                                    <td>@item.operator_per</td>
                                    <td>@item.status</td>
                                    <td><input type="button" value="填写" class="btn1" onclick="tx(@item.pro_production_id)" /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: function() {
                return{ pro: "" }
            }
        })
        function tx(id) {
            vm.pro = id;
        }
    </script>
</body>
</html>