
@{
    Layout = null;
}
@model IEnumerable<Clothes_UI.Models.Product_index_selecte_Result>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .yy {
            width: 100%;
            height: 400px;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .ss {
            width: 100%;
            height: 80px;
            box-shadow: 0px 0px 3px 3px lightgray;
        }

        .top1 {
            margin-left: 50px;
        }

        .btn {
            margin-left: 1250px;
        }

        .btn2 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: orange;
            border: none;
        }

        .btn3 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
            margin-left: -5px;
        }

        .btn4 {
            font-size: 20px;
            width: 80px;
            height: 35px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
        }

        .text {
            width: 200px;
            height: 40px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="ss">
            <div style="margin-left:50px;">
                <br />
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">产品库存管理</li>
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">产品库存管理</li>
                    </ol>
                </nav>
            </div>
        </div>
        <br />
        <br />
        <div class="yy">
            <div class="top1" id="app">
                <br />
                <span style="font-size:20px;color:dimgray;">&nbsp;&nbsp;&nbsp;&nbsp;产品库存管理</span>
                <span class="btn">                   
                </span>
                <br />
                <hr />
                <br />
                <span style="display:flex;">
                    <input type="text" class="text" placeholder="请输入产品名称" />
                    <el-button type="primary" icon="el-icon-search">搜索</el-button>
                </span>
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width:80px;"><input type="checkbox" />全选</th>
                            <th scope="col">库存编号</th>
                            <th scope="col">产品编号</th>
                            <th scope="col">产品名称</th>
                            <th scope="col">产品类型</th>
                            <th scope="col">产品单位</th>
                            <th scope="col">产商名称</th>
                            <th scope="col">库存数量</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var item in Model)
                            {
                                <td><input type="checkbox" /></td>
                                <td>@item.repertory_id</td>
                                <td>@item.product_id</td>
                                <td>@item.product_name</td>
                                <td>@item.product_type</td>
                                <td>@item.unit</td>
                                <td>@item.product_producer</td>
                                <td>@item.pro_repertory_num</td>
                                <td><a href="/Product/Delete?id=@item.repertory_id" onclick="return confirm('确认删除嘛')"><input type="button" value="删除" class="btn2" /></a></td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return { visible: false }
        }
    })
</script>
</html>
