
@{
    Layout = null;
}
@model IEnumerable<Clothes_UI.Models.Product_Productes_selecte_Result>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Productes</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .top {
            margin-left: 50px;
        }

        .ss {
            width: 100%;
            height: 80px;
            box-shadow: 0px 0px 3px 3px lightgray;
        }

        .btn1 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
        }

        .cc {
            margin-top: 10px;
            width: 100%;
            height: 300px;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .yy {
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .top1 {
            margin-left: 50px;
        }

        .btn {
            margin-left: 1250px;
        }

        .btn2 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: orange;
            border: none;
        }

        .btn3 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
            margin-left: -5px;
        }

        .btn4 {
            font-size: 20px;
            width: 80px;
            height: 35px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
        }

        .text {
            width: 200px;
            height: 40px;
        }

        .btn11 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
        }

        .top2 {
            margin-left: 50px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="ss">
            <div style="margin-left:50px;">
                <br />
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">产品库存管理</li>
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">添加产品出库单</li>
                    </ol>
                </nav>
            </div>
        </div>
        <br />
        <br />
        <form action="/Product/Productesadd" method="post" enctype="multipart/form-data">
            <div class="cc">
                <div class="top">
                    <span style="font-size:20px;color:dimgray; margin-left:20px;">填写产品出库信息</span>
                    <hr />
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">订单编号：</th>
                                <th scope="col">操作员:</th>
                                <th scope="col">经办人:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" style="width: 500px; height: 30px;" placeholder="请输入订单编号" v-model="pro" name="order_id"/></td>
                                <td><input type="text" style="width: 500px; height: 30px;" placeholder="请输入操作员姓名" name="operator_per"/></td>
                                <td><input type="text" style="width: 500px; height: 30px;" placeholder="请输入经办人姓名" name="person_handling"/></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="width:100%;display:flex;">
                        <div style="width:270px;">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">出库日期：</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="date" style="width: 500px; height: 30px;" name="out_time"/></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <span><input type="submit" value="提交" class="btn1" style="margin-left:100px;margin-top:40px;" /></span>
                    </div>
                </div>
            </div>
        </form>
            <br />
            <br />
            <div class="yy">
                <div class="top2">
                    <br />
                    <span style="font-size:20px;color:dimgray;">&nbsp;&nbsp;&nbsp;&nbsp;订单管理</span>
                    <span class="btn">
                        <input type="button" value="删除" class="btn2" />
                    </span>
                    <br />
                    <hr />
                    <br />
                    <span style="display:flex;">
                        <input type="text" class="text" placeholder="请输入订单编号" />
                        <el-button type="primary" icon="el-icon-search">搜索</el-button>
                    </span>
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="width:80px;"><input type="checkbox" />全选</th>
                                <th scope="col">订单编号</th>
                                <th scope="col">订单客户</th>
                                <th scope="col">订单日期</th>
                                <th scope="col">商品总数量</th>
                                <th scope="col">总金额</th>
                                <th scope="col">已付金额</th>
                                <th scope="col">未付金额</th>
                                <th scope="col">状态</th>
                                <th scope="col">操作</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>@item.order_id</td>
                                <td>@item.customer_name</td>
                                <td>@item.order_starttime</td>
                                <td>@item.quantity</td>
                                <td>@item.order_paid+@item.order_unpaid</td>
                                <td>@item.order_paid</td>
                                <td>@item.order_unpaid</td>
                                <td>@item.order_status</td>
                                <td><input type="button" value="出库" class="btn11" onclick="chuku(@item.order_id)" /></td>
                            </tr>
                                    }
                                
                            </tbody>
                    </table>
                </div>
            </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
      var vm = new Vue({
            el: '#app',
            data: function () {
                return { visible: false , pro: "" }
            }
        })
        function chuku(id) {
            vm.pro = id;
        }
    </script>
</body>
</html>
