
@{
    Layout = null;
}
@model IEnumerable<Clothes_UI.Models.Production_index_select_Result>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .yy {
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .ss {
            width: 100%;
            height: 80px;
            box-shadow: 0px 0px 3px 3px lightgray;
        }

        .top1 {
            margin-left: 50px;
        }

        .btn {
            margin-left: 1200px;
        }

        .btn1 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
        }

        .btn2 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: Highlight;
            border: none;
        }

        .btn3 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            color: white;
            background-color: lightseagreen;
            border: none;
            margin-left: -5px;
        }

        .btn4 {
            font-size: 20px;
            width: 80px;
            height: 35px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
        }

        .text {
            width: 200px;
            height: 40px;
        }
    </style>

</head>
<body>
    <transition name="el-fade-in-linear">
        <div v-show="show" id="app">
            <div class="ss">
                <div style="margin-left:50px;">
                    <br />
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">生产管理</li>
                            <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">生产计划管理</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <br />
            <br />
            <div class="yy">
                <div class="top1">
                    <br />
                    <span style="font-size:20px;color:dimgray;">&nbsp;&nbsp;&nbsp;&nbsp;生产计划管理表</span>
                    <span class="btn">
                        <input type="button" value="添加" class="btn1" onclick="javascrtpt:window.location.href='/Production/add'" />
                    </span>
                    <br />
                    <hr />
                    <br />
                    <span style="display:flex;">
                        <input type="text" class="text" v-model="seach" placeholder="请输入订单编号" />
                        <input type="button" value="搜索" class="btn3" onclick="sousuo()" />
                    </span>
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">计划编号</th>
                                <th scope="col">订单编号</th>
                                <th scope="col">产品名称</th>
                                <th scope="col">订购数量</th>
                                <th scope="col">计划产量</th>
                                <th scope="col">生产计划时间</th>
                                <th scope="col">操作员</th>
                                <th scope="col">经办人</th>
                                <th scope="col">状态</th>
                                <th scope="col">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.product_plan_id</td>
                                    <td>@item.order_id</td>
                                    <td>@item.product_name</td>
                                    <td>@item.quantity</td>
                                    <td>@item.planned_output</td>
                                    <td>@item.product_time</td>
                                    <td>@item.operator_per</td>
                                    <td>@item.person_handling</td>
                                    <td>@item.status</td>
                                    <td>
                                        <input value="详情" type="button" plain class="btn2" onclick="xiangq(@item.product_plan_id)"/>&nbsp;&nbsp;&nbsp;  
                                        <a href="/Production/Delete?id=@item.product_plan_id" onclick="return confirm('确认删除嘛')"><button class="btn2">删除</button></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        <el-dialog :visible.sync="visible" title="材料详情">
                            <hr />
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">生产计划详情编号</th>
                                        <th scope="col">生产计划编号</th>
                                        <th scope="col">生产产品编号</th>
                                        <th scope="col">产品名称</th>
                                        <th scope="col">生产数量</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in infolist">
                                        <td>{{item.product_plan_details_id}}</td>
                                        <td>{{item.product_plan_id}}</td>
                                        <td>{{item.product_id}}</td>
                                        <td>{{item.product_name}}件</td>
                                        <td>{{item.product_details_num}}件</td>
                                    </tr>
                                </tbody>
                            </table>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </transition>
    <!-- import Vue before Element -->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        //显示产品详情
        function xiangq(id) {
            vm.visible = true;
            $.ajax({
                url: "https://localhost:44397/Production/product_plan_details?id="+id,
                type: "get",
                success: function (data) {
                    vm.infolist = eval(data);
                }
            })
        }
       var vm= new Vue({
           el: '#app',
           data: function () {
               return { visible: false, show: true, infolist:[]}
            }
       })

    </script>
</body>
</html>
