
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerInformation</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/vue.js"></script>
   <link href="~/Scripts/ElementUI/element-ui.js" />
    <style>
        #content {
            width: 100%;
            height: 100%;
           @* box-shadow: 0px 0px 5px 5px lightgray;*@
          @*  margin-left: 150px;*@
        }

        #header {
            margin-top: 20px;
        }

      

        .btn2 {
            float: right;
            background-color: lightseagreen;
            height: 40px;
            width: 70px;
            margin-left: 10px;
        }

        #header {
            /*border: 1px solid black;*/
            width: 100%;
            height: 100px;
        }
        a {
            text-decoration: none;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div id="content">
        <div id="contentheader">
            <div id="headerbody" style="border: 1px solid white">
                <p style="margin:40px; font-size: 30px;">客户管理</p>
                <a href="" style="margin-left:20px ;">首页</a>
                /<a href="">客户管理</a>
                /<a href="">客户资料</a>
            </div>
        </div>
        <div style="border: 1px solid lightgray; width: 100%;  margin-top:20px ;"></div>

        <div id="header">

            <span style="font-size: 20px; margin: 20px;">客户资料</span>

            <input type="button" class="btn2" value="添加" style="margin-right:20px; border-radius:5px; color: white;" onclick="skip()"></input>




        </div>
        <div style="border: 1px solid lightgray; width: 100%;"></div>
        <div id="body">
            <input type="text" placeholder="请输入客户名称" style="height:40px; width: 300px; margin: 20px; font-size: 20px;" />
            <input type="button" value="搜索" style="margin: -25px; height: 50px; width: 75px; height:48px; border-radius: 5px; background-color: #20B2AA; color: white;">
            <div style="margin-left:20px ; font-size:20px ;">
                显示<select style="width: 60px; height: 40px; font-size:15px ; border-radius:5px ;">
                    <option value="volovo">1</option>
                    <option value="saab">2</option>
                    <option value="opel">3</option>
                    <option value="audi">4</option>
                    <option value="audi">5</option>
                    <option value="audi">6</option>
                    <option value="audi">7</option>
                    <option value="audi">8</option>
                    <option value="audi">9</option>
                    <option value="audi">10</option>
                    <option value="audi">11</option>
                    <option value="audi">12</option>

                </select>条
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">客户ID</th>
                        <th scope="col">用户名称</th>
                        <th scope="col">用户电话号码</th>
                        <th scope="col">联系人</th>
                        <th scope="col">用户邮箱</th>
                        <th scope="col">客户地址</th>
                        <th scope="col">客户传真</th>
                        <th scope="col">邮政编码</th>
                        <th scope="col">开户银行</th>
                        <th scope="col">银行账户</th>
                        <th scope="col">操作</th>

                    </tr>
                </thead>
                @foreach (var Customer in Model)
                {
    <tbody>

        <tr v-for="item in info">
            <td>@Customer.customer_id</td>
            <td>@Customer.customer_name</td>
            <td>@Customer.customer_phone</td>
            <td>@Customer.customer_linkman</td>
            <td>@Customer.customer_email</td>
            <td>@Customer.customer_address</td>
            <td>@Customer.customer_fax</td>
            <td>@Customer.customer_postcode</td>
            <td>@Customer.bank</td>
            <td>@Customer.bank_account</td>
            <td><button>修改</button><a href="/Customer/Delete?id=@Customer.customer_id" onclick="return confirm('确认删除吗？')"><button>删除</button></a></td>
        </tr>
    </tbody>
}

            </table>
        </div>
    </div>

  
    <script>
        function skip() {
            window.location.href = '/Customer/InsertCustomerInformation';

        }

    </script>
</body>
</html>
