
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>manage</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
    <style>
        #content {
            width: 100%;
            height: 800px;
            @*box-shadow: 0px 0px 5px 5px lightgray;*@
          @*  margin-left: 150px;*@
        }

        #header {
            margin-top: 20px;
        }

        .btn1 {
            float: right;
            background-color: lightseagreen;
            height: 40px;
            width: 70px;
            margin-left: 10px;
        }

        .btn2 {
            float: right;
            background-color: lightseagreen;
            height: 40px;
            width: 70px;
            margin-left: 10px;
        }

        #header {
            /*border: 1px solid black;*/
            width: 100%;
            height: 100px;
        }
        a {
            text-decoration: none;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-dialog :visible.sync="dialogVisible"
                   width="50%"
                   :before-close="handleClose">
            <div style="font-size:30px; text-align:center;">订单详情</div>
            <div>
                <template>
                    <el-table :data="tableData"
                              stripe
                              style="width: 100%">
                        <el-table-column prop="order_details_id"
                                         label="订单详情ID"
                                         width="180">
                        </el-table-column>

                        <el-table-column prop="order_id"
                                         label="订单ID">
                        </el-table-column>
                        <el-table-column prop="product_id"
                                         label="产品ID">
                        </el-table-column>
                        <el-table-column prop="product_name"
                                         label="产品名"
                                         width="180">
                        </el-table-column>
                        <el-table-column prop="quantity"
                                         label="数量">
                        </el-table-column>
                    </el-table>
                </template>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button v-on:click="dialogVisible=false">取 消</el-button>
                <el-button type="primary" v-on:click="dialogVisible=false">确 定</el-button>
            </span>
        </el-dialog>
    </div>
    <div id="content">
        <div id="contentheader">
            <div id="headerbody" style="border: 1px solid white">
                <p style="margin:40px; font-size: 30px;">客户管理</p>
                <a href="" style="margin-left:20px ;">首页</a>
                /<a href="">客户管理</a>
                /<a href="">订单管理</a>
            </div>
        </div>
        <div style="border: 1px solid lightgray; width: 100%; margin-top:20px;"></div>

        <div id="header">

            <span style="font-size: 20px; margin: 20px;">订单管理</span>

            <input type="button" class="btn2" value="添加" style="margin-right:20px; border-radius:5px; color: white;" onclick="skip()"></input>



        </div>
        <div style="border: 1px solid lightgray; width: 100%;"></div>
        <div id="body">
            <input type="text" placeholder="请输入订单编号或客户" style="height:40px; width: 300px; margin: 20px; font-size: 20px;" />
            <input type="button" value="搜索" style="margin: -25px; height: 50px; width: 75px; height:48px; border-radius: 5px; background-color: #20B2AA; color: white;">
            <div style="margin-left:20px ; font-size:20px ;">
                显示<select style="width: 60px; height: 40px; font-size:15px ; border-radius:5px ;">
                    <option value="volovo">1</option>
                    <option value="saab">2</option>
                    <option value="opel">3</option>
                    <option value="audi">4</option>
                    <option value="audi">5</option>
                    <option value="audi">6</option>
                    <option value="audi">7</option>
                    <option value="audi">8</option>
                    <option value="audi">9</option>
                    <option value="audi">10</option>
                    <option value="audi">11</option>
                    <option value="audi">12</option>

                </select>条
            </div>
            <div id="keyi">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">订单编号</th>
                            <th scope="col">用户id</th>
                            <th scope="col">下单时间</th>
                            <th scope="col">交付时间</th>
                            <th scope="col">经手人</th>
                            <th scope="col">操作人</th>
                            <th scope="col">已付金额</th>
                            <th scope="col">未付金额</th>
                            <th scope="col">订单状态</th>

                            <th scope="col">操作</th>

                        </tr>
                    </thead>
                    @foreach (var orders in Model)
                    {
                        <tbody>

                            <tr>
                                <td>@orders.order_id</td>
                                <td>@orders.customer_id</td>
                                <td>@orders.order_starttime</td>
                                <td>@orders.order_endtime</td>
                                <td>@orders.person_handling</td>
                                <td>@orders.operator_per</td>
                                <td>@orders.order_paid</td>
                                <td>@orders.order_unpaid</td>
                                <td>@orders.order_status</td>
                                <td>
                                    <el-button type="success" onclick="addinfo(@orders.order_id)">详情</el-button>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>

        </div>
    </div>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script>
        function skip() {
            window.location.href = '/Customer/insertmanage';
        }
        function addinfo() {
            vm.dialogVisible = true;
        }
        var vm1 = new Vue({
            el: "#bodycontent",
            data: {

            }
        })
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    tableData: [],
                    dialogVisible: false,
                }
            },
            methods: {
                handleClose(done) {
                    this.$confirm('确认关闭？')
                        .then(_ => {
                            done();
                        })
                        .catch(_ => { });
                },
                handleChange(value) {
                    console.log(value);
                }
            }
        })
        var vv = new Vue({
            el: "#button",
            data: {

            }
        });
        var vvs = new Vue({
            el: "#keyi",
            data: {

            }
        })
        var ss = [];
        function addinfo(id) {
            vm.dialogVisible = true;
            $.ajax({
                url: "https://localhost:44397/Customer/order_details?id=" + id,
                type: "get",
                success: function (data) {
                    var info = eval(data);
                    vm.tableData = info;
                    console.log(info);
                }
            })     
        }
    </script>

</body>

</html>
